body {
  justify-content: center;
  text-align: center;
  background-color: black;
  background-image: radial-gradient(
    rgba(18, 44, 128, 0.75), black 120%
  );
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

.typewriter {
	display: inline-block;
}

.typewriter-text {
    display: inline-block;
  	overflow: hidden;
 	animation: typing 2s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid rgb(255, 255, 255);
    box-sizing: border-box;
}

@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}

@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: rgb(255, 255, 255); 
    }
}

.form-container {
  margin: auto;
  width: 50%;
  background: #d4d4d4;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;

  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
}

/* Portrait */
@media screen and (max-width: 900px) {
    .form-container {
      width: 97%;
    }
}
